#nevera{
	float: left;
	width: 35%;
	height: auto;
}

#formularios{
	float: left;
	width: 60%;
	height: auto;
	margin: 2%;
}

input{
	margin-bottom: 1%;
}

img{
	width: 200px;
	height: 250px;
}

caption{
	margin: 2%;
	font-size: 20px;
	font-weight: bold;
}

.botones{
	margin: 5%;
	background-color: black;
	color: white;
	border-radius: 40px;
}